<div class="container">

    <h1>Bill Details</h1>
  <label for="billid">Enter Bill ID: </label>
  <input type="number" id="billid" [(ngModel)]="billid" (keyup.enter)="getBillDetails()">
  <button (click)="getBillDetails()">Get Bill Details</button>

    <h1>Transaction Receipt</h1>
    
  
    <div class="receipt-details">
      <div class="receipt-row">
        <div class="label">Transaction ID:</div>
        <div class="value" *ngFor="let transaction of transaction">{{ transaction.billid }}</div>
      </div>
  
      <div class="receipt-row">
        <div class="label">Payment Method: Online</div>
      </div>
  
      <div class="receipt-row">
        <div class="label">bill status:</div>
        <div class="value" *ngFor="let transaction of transaction">{{ transaction.status }}</div>
      </div>
  
      <div class="receipt-row">
        <div class="label">Payment Amount:</div>
        <div class="value" *ngFor="let transaction of transaction">{{ transaction.billamount | currency: 'USD' }}</div>
      </div>
  
      <!-- Add more transaction details here as needed -->
  
      
    </div>
  </div>
  
